<div class="body-container">
  <span class="body-text-span">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-userid-input">
      <div class="user-input">
        <mat-form-field>
          <input matInput #input type="text" placeholder="userID" class="form-control" id="userID" 
          required maxlength="39" pattern="^[a-z\d](?:[a-z\d]|-(?=[a-z\d])){0,38}$" [(ngModel)]="user.userID" name="userID" #userID="ngModel">
           <mat-error *ngIf="userID?.errors?.required"> 
            UserID is required.
          </mat-error>
          <mat-error *ngIf="userID.errors?.pattern">
            UserID may only contain alphanumeric characters or hyphens, 
            cannot have multiple consecutive hyphens, 
            and cannot begin or end with a hyphen.
          </mat-error>       
        </mat-form-field>
      </div>
    <div class="search-button">
      <button mat-stroked-button type="submit" class="btn btn-primary" 
      role="button" [disabled]="!userForm.form.valid">Search</button>
    </div>
    </form>
  </span>
  <div *ngIf="!noError">
      <span class="body-text-span">{{errorMessage}}</span>
    </div>  
  <div class="mat-elevation-z8" *ngIf="dataSource?.filteredData.length > 0 && noError && notCommitTable" >
      <mat-toolbar>List of Repositories belonging to user ( {{userTitle}} )</mat-toolbar>    
    <mat-table #table [dataSource]="dataSource"  >
            
        <!-- URL Column -->
        <ng-container matColumnDef="url">
          <mat-header-cell mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let repository"> {{repository.url}} </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let repository" class="cursor-pointer" (click)="getRepoCommits(repository.name)"> {{repository.name}}</mat-cell>
        </ng-container>
      
        <!-- Date Created Column -->
        <ng-container matColumnDef="created_at">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Date Created </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let repository"> {{repository.created_at}} </mat-cell>
        </ng-container>
        
        <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>        
        <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <div *ngIf="dataSource?.filteredData.length === 0 && noError" >
      No repositories listed for user
      </div>
      <div class="mat-elevation-z8" *ngIf="commitDataSource?.filteredData.length > 0 && !notCommitTable" >
       <mat-toolbar>List of Commits in repository ( {{repositoryTitle}} ) belonging to user ( {{userTitle}} )   </mat-toolbar> 
        <mat-table #table [dataSource]="commitDataSource"  >
              
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let commit"> {{commit.email}} </mat-cell>
        </ng-container>
      
        <!-- Date Created Column -->
        <ng-container matColumnDef="created_at">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Date Created </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let commit" > {{commit.created_at}}</mat-cell>
        </ng-container>
      
        <!-- URL Column -->
        <ng-container matColumnDef="url">
          <mat-header-cell mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let commit" class="word-break"> {{commit.url}} </mat-cell>
        </ng-container>
      
        <mat-header-row  *matHeaderRowDef="commitDisplayedColumns"></mat-header-row>
        <mat-row  *matRowDef="let row; columns: commitDisplayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>