.nav-link {
    cursor:pointer;
  }

.body-container{

  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: center;
  padding: 10px 0px;
  
  }

  .body-text-span{

    display: table-cell;
    vertical-align: middle;

  }

  table {
    width: 100%;
  }

  .mat-elevation-z8 {
    
    width: 95%;

  }