<div class="body-container">
  <span class="body-text-span">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-userid-input">
      <div class="form-group">
        <input #input type="text" placeholder="userID" class="form-control" id="userID"
        required maxlength="39" pattern="^[a-z\d](?:[a-z\d]|-(?=[a-z\d])){0,38}$" [(ngModel)]="model.userID" name="userID" #userID="ngModel">
        <div *ngIf="userID.invalid && (userID.dirty || userID.touched)"
        class="alert alert-danger">
    
      <div *ngIf="userID.errors.required">
        UserID is required.
      </div>
      <div *ngIf="userID.errors.pattern">
        UserID may only contain alphanumeric characters or hyphens, 
        cannot have multiple consecutive hyphens, 
        and cannot begin or end with a hyphen.
      </div>  
    </div>
      </div>
    <div>
      <button type="submit" (click)="getUserRepos(input.value)" class="btn btn-primary" 
      role="button" [disabled]="!userForm.form.valid">Search</button>
    </div>
    </form>
  </span>
  <div *ngIf="!noError">
      <span class="body-text-span">{{errorMessage}}</span>
    </div>  
  <div class="mat-elevation-z8" *ngIf="dataSource?.filteredData.length > 0 && noError" >
        <mat-table #table [dataSource]="dataSource"  >
              
        <!-- URL Column -->
        <ng-container matColumnDef="url">
          <mat-header-cell mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let repository"> {{repository.url}} </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let repository"> {{repository.name}} </mat-cell>
        </ng-container>
      
        <!-- Date Created Column -->
        <ng-container matColumnDef="created_at">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Date Created </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let repository"> {{repository.created_at}} </mat-cell>
        </ng-container>
      
        <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <div *ngIf="dataSource?.filteredData.length === 0 && noError" >
      No repositories listed for user
      </div>
</div>