

 .activated {
    background: rgba(38, 128, 235, 0.60);
}

.announcement-banner{
     background: rgba(203,21,21, .97);
     height: 100%;
     display: table;
     width: 100%;
     div {
 
         padding-left: 40px;
         vertical-align: middle;
         display: table-cell;
         font-weight: bold;
     }
 
     button {
         background: rgba(203,21,21, .97);
         border: 0;
         float: right;
         font-size: 17px;
         font-weight: bold;
     }
 }
 
 .header-link {
     width: 100%;
     color: black;
 }