<div class="body-container">
  <div class ="repository-col">
      <app-user-form  [user]="user" (submitForm)="submitForm()" (resetForm)="resetForm()" > </app-user-form>

    <div *ngIf="dataSource?.filteredData.length > 0 && noRepoError ">
      <app-repository-cards [user]="user" [selection]="selection" (toggleSelection)="toggleSelection($event)"
        (getRepoTable)="getRepoTable($event)"></app-repository-cards>
    </div>

  </div>

    <div class ="table-container">
      
      <mat-toolbar  *ngIf="!noRepoError && !repoSelected"><span class="error-text">{{errorMessage}}</span></mat-toolbar> 

      <mat-toolbar  *ngIf="dataSource?.filteredData.length === 0 && noRepoError && gotRepos && !repoSelected">No repositories listed for user</mat-toolbar>

      <ng-container *ngIf=" commitDataSource?.filteredData.length >= 0 && repoSelected">
      <app-repository-header [repositoryName]="repositoryName" [tableSelection]="tableSelection" (toggleTableSelection)="toggleTableSelection($event)">
      </app-repository-header>
      </ng-container>
      
      <mat-toolbar  *ngIf="repoSelected && (!noCommitError || !noBranchError )"><span class="error-text">{{errorMessage}}</span>
      </mat-toolbar> 
     
      <ng-container *ngIf="tableSelection.isSelected('branch') && branchDataSource?.filteredData.length > 0 && repoSelected && noBranchError">

        <app-branch-table [branches]="branches"></app-branch-table>

      </ng-container>
  
      <ng-container *ngIf="tableSelection.isSelected('commit') && commits.length > 0 && repoSelected && noCommitError">

        <app-commit-table [commits]="commits"></app-commit-table>

      </ng-container>

  </div>
</div>