<div class="body-container">
  <div class ="repository-col">
  <span class="body-text-span">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-userid-input-git-app">
      <div class="user-input-git-app">
        <mat-form-field appearance="outline">
          <input matInput #input type="text" placeholder="userID" class="form-control" id="userID" 
          required maxlength="39" pattern="^[a-z\d](?:[a-z\d]|-(?=[a-z\d])){0,38}$" [(ngModel)]="user.userID" name="userID" #userID="ngModel">
          <mat-icon matSuffix>person</mat-icon> 
          <mat-error *ngIf="userID?.errors?.required"> 
            UserID is required.
          </mat-error>
          <mat-error *ngIf="userID.errors?.pattern">
            UserID may only contain alphanumeric characters or hyphens, 
            cannot have multiple consecutive hyphens, 
            and cannot begin or end with a hyphen.
          </mat-error>       
        </mat-form-field>
      </div>
    <div class="search-button-git-app">
      <button mat-stroked-button type="submit" class="btn btn-primary" 
      role="button" [disabled]="!userForm.form.valid">Search</button>
    </div>
    </form>
  </span>

<div *ngIf="dataSource?.filteredData.length > 0 && noError ">
  <mat-card  *ngFor="let repository of user.repositories; let i=index" class="repo-card" (click)="getRepoCommits(repository.name); !selection.isSelected(repository.name)? selection.toggle(repository.name) : false" [ngStyle]="{'border': selection.isSelected(repository.name)? '3px solid #2340d1':'none'}" >
      <mat-card-header>
        <mat-card-title>{{repository.name}}</mat-card-title>
        <mat-card-subtitle>by {{repository.ownerName}}</mat-card-subtitle>

      </mat-card-header>
      
        <img mat-card-avatar class="repo-card-image" [src]="repository.avatarUrl" alt="User Avatar">
      
  </mat-card>
</div>

</div>
  <div *ngIf="!noError">
      <span class="body-text-span">{{errorMessage}}</span>
    </div>  
    <div class ="table-container">

    <div *ngIf="dataSource?.filteredData.length === 0 && noError" >
      No repositories listed for user
      </div>
      <h1 *ngIf="commitDataSource?.filteredData.length > 0 && !notCommitTable">{{repositoryTitle}}</h1>
      <div class="mat-elevation-z8" *ngIf="commitDataSource?.filteredData.length > 0 && !notCommitTable" >
       <h1></h1>
        <mat-toolbar><span class="underline-text">Commits </span> &#160; Branches   </mat-toolbar> 
        <mat-table #table [dataSource]="commitDataSource"  >
              
        <!-- Author Column -->
        <ng-container matColumnDef="author">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let commit"> {{commit.name}} </mat-cell>
        </ng-container>
      
        <!-- Message Column -->
        <ng-container matColumnDef="message">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Message </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let commit" class="word-break"> {{commit.message | slice:0:100}} </mat-cell>
        </ng-container>

        <!-- Date Created Column -->
        <ng-container matColumnDef="created_at">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Date Created </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let commit" > {{commit.created_at | date }}</mat-cell>
        </ng-container>
      
        <!-- CommitID Column -->
        <ng-container matColumnDef="commitID">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Commit </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let commit" > {{commit.commitID | slice:0:7}} </mat-cell>
        </ng-container>
      
        <mat-header-row  *matHeaderRowDef="commitDisplayedColumns"></mat-header-row>
        <mat-row  *matRowDef="let row; columns: commitDisplayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>