.nav-link {
  cursor:pointer;
}

.repository-col{

  height: 100%;
  width: 100%;
  padding-left: 30px;
  padding-top: 10px;


}

.body-container{

height: 100%;
width: 100%;
display: grid;
grid-template-columns: 1fr 2fr;
justify-items: center;
background: rgba(210, 215, 221, 0.45);
}

.body-text-span{

  vertical-align: middle;

}

table {
  width: 100%;
}



.word-break{

  word-break: break-all;
  
}

.cursor-pointer{

  cursor: pointer;

}

.table-container {

  width: 90%;

}

.selected-card {

  border: 3px solid #2340d1;

}

.underline-text {

  text-decoration: underline;

}

app-option2 {

  background: rgba(210, 215, 221, 0.45) !important;
}

mat-error {

  padding-bottom: 10px;

}

mat-toolbar {

  margin: 20px 0px;
  background: white;
}

.error-text {

  white-space: normal;

}



.reset-button-git-app {

  text-align: center;

  button {

    padding: 0 50px;
  }

}

.repo-header{

  color: rgba(0,0,0,.54);

}

.selected-repo-header {

  color: rgba(0,0,0,.54);
  font-weight: bold;

}