.nav-link {
  cursor:pointer;
}

.repository-col{

  height: 100%;
  width: 100%;
  display: grid;
  padding-left: 30px;
  padding-top: 10px;


}

.body-container{

height: 100%;
width: 100%;
display: grid;
grid-template-columns: 1fr 2fr;
justify-items: center;
background: rgba(210, 215, 221, 0.45);
}

.body-text-span{

  display: table-cell;
  vertical-align: middle;

}

table {
  width: 100%;
}



.word-break{

  word-break: break-all;
  
}

.cursor-pointer{

  cursor: pointer;

}

.repo-card {

  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.repo-card-image {

  height: 50px;
  width: 50px;

}

.table-container {

  width: 90%;

}

.selected-card {

  border: 3px solid #2340d1;

}

.underline-text {

  text-decoration: underline;

}

app-option2 {

  background: rgba(210, 215, 221, 0.45) !important;
}