mat-toolbar {

    margin: 20px 0px;
    background: white;
  }

  .repo-header{

    color: rgba(0,0,0,.54);
  
  }
  
  .selected-repo-header {
  
    color: rgba(0,0,0,.54);
    font-weight: bold;
  
  }