.nav-link {
    cursor:pointer;
  }

.body-container{

    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(18, 116, 228, 0.45);

  }

  .body-text-span{

    display: table-cell;
    vertical-align: middle;

  }